<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Help & Instructions — B1NG0™</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    </head>
    <body class="served" data-bs-theme="dark">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <div class="container contentbox">
            <h1>Help Page</h1>
            <br>
            <h3>Instructions</h3>
            <hr/>
            <br>
            <strong>Bingo</strong>
<pre>Solve 5 questions in any row or column (not diagonal).
Duration: 1 hour
Challenges can be attempted in any order, should be submitted on our server, and will be approved or rejected within 2-3 minutes.
Each team will be given 3 systems, and team members can work on and submit problems simultaneously 
Internet access is provided but only for syntax related searches. Any team found violating this rule will be disqualified.
There will be no partial points for this round.
The first 4 teams to get BINGO will qualify to the finals.</pre>
            <br>
            <strong>Coding Problems</strong>
<pre>Function headers have been given for Python, Java and C++, but if you would prefer a different language, you can ask for that language’s function header.
Complete the function and return the necessary value as asked in the question.
Taking input and/or printing the final output is not necessary.
Write the code in IDLE, VS Code, BlueJ, or any online compilers you wish to use. Submit your answers through our server.</pre>
            <br>
            <strong>Debug Problems</strong>
<pre>Fix the errors in the existing code or rewrite the code to display the desired output. Questions have been given in Python, Java and C++.
Teams may rewrite any part/all of the code as per their wish, as long as it achieves the question's objective and passes the test cases.
Submit the entire corrected code.</pre>
            <br>
            <strong>Logic Problems</strong>
<pre>Submit the answer required by the question. These questions will have a limited number of submissions- two per question. If two incorrect submissions are made, then the participants will not be able to solve that square, and must attempt a different row/column.</pre>
            <br>
            <strong>Gaming Challenges</strong>
<pre>Complete the challenge and submit the code found at the end.
Gaming challenges can only be done on 1 system per team.
In case 4 teams do not get BINGO in 1 hour, the following criteria will be used to rank teams:
The first priority will be the total number of challenges solved correctly by a team, not necessarily in a row or column.
If 2 or more teams have solved the same number of questions, the number of questions solved in each category will be used, ranked in the following order: 
        Hard Coding > Gaming > Logic > Easy Coding > Debug
If there is still a tie, the time of submission of the last correctly solved problem will be taken.</pre>
            <br>
            <h3>Credits & Attribution</h3>
            <hr/>
            <br>
            <p>Background Art by <a href="https://www.artstation.com/eluetime" target="_blank">ElueTime</a></p>
            <br>
            <br>
            <div class="mb-3">
                <a href="/" target="_self"><button type="button" class="btn btn-primary">Back to B1NG0™</button></a>
            </div>
        </div>
    </body>
</html>
